#cargador {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: black;
}

#spinner {
    position: fixed;
    right: 5%;
    bottom: 5%;

    border: 10px solid #353535; /* Light grey */
    border-top: 10px solid #ffffff; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#boton-salir-examinar {
    display: none;

    position:fixed;
    left: 5%;
    bottom: 5%;
    z-index: 10;
}

#boton-aceptar {
    display: none;

    position:fixed;
    right: 5%;
    bottom: 5%;
    z-index: 10;
}

#oscurecer {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: black;
    opacity: 0.7;
}

#inventario {
    display: none;

    position:fixed;
    left: 5%;
    top: 5%;
    z-index: 10;
}

#inventario-izq {
    height: 150px;
    width: 30px;
    margin-right: 10px;
    float: left;
}

#inventario-der {
    height: 150px;
    width: 30px;
    margin-left: 10px;
    float: right; 
}

.centrar {
    line-height: 150px !important;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}